{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 col-xxl-6">

            
            <form action="/dash" method="post">
                <br>
                <table class="table">
                   <tr>
                       <td>Book Name</td>
                       <td><input name="name" type="text" class="form-control"></td>
                   </tr>
                   <tr>
                       <td>Author Name</td>
                       <td><input name="auth" type="text" class="form-control"></td>
                   </tr>
                   <tr>
                       <td>Category</td>
                       <td><input name="cat" type="text" class="form-control"></td>
                   </tr>
                   <tr>
                       <td>Price</td>
                       <td><input name="price" type="text" class="form-control"></td>
                   </tr>
                   <tr>
                       <td>Publisher</td>
                       <td><input name="pub" type="text" class="form-control"></td>
                   </tr>
                   
                </table>
                <center><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Register
                  </button></center>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Add Book</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      
                                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                          <button type="submit" class="btn btn-secondary">Add</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>

</div>



{% endblock %}